<h1 class="text-center">Servicios</h1>
<div class="row m-5 justify-content-center">
  <div class="col-3 text-center card mx-3">
    <img src="http://ongasmadrid.com/wp-content/uploads/2015/04/icon-gas" alt="">
    <i class="fas fa-burn icon-custom"></i>
    <h2>Gas</h2>
    <ul style="list-style: none">
      <li>Instalaciones de gas natural, propano y butano</li>
      <li>Individuales, comunes e industriales</li>
      <li>Certificaciones de gas</li>
      <li>Correccciones y adecuaciones</li>
    </ul>
  </div>

  <div class="col-3 text-center card mx-3">
    <i class="fas fa-plug icon-custom"></i>
    <h2>Calefacción</h2>
    <ul style="list-style: none">
      <li>Instalaciones y reparaciones de calefacción</li>
      <li>Individuales y colectivas</li>
      <li>Suelos radiantes</li>
      <li>Sustitución de calderas, calentadores, termos, acumuladores y radiadores</li>
      <li>Calefacciones de gasoil y otros combustibles</li>
    </ul>
  </div>

  <div class="col-3 text-center card mx-3">
    <i class="fas fa-tools icon-custom"></i>
    <h2>Fontanería</h2>
    <ul style="list-style: none">
      <li>Instalaciones individuales y comunes</li>
      <li>Reformas de cocinas y baños</li>
      <li>Generales para agua fría y caliente</li>
      <li>Bajantes generales</li>
      <li>Trabajamos todo tipo de materiales</li>
      <li>Instalaciones de aire acondicionado individuales</li>
    </ul>
  </div>
</div>
