.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(to left, rgba(255,175,72,1), #EEF2FB);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 10vh;
  border-radius: 5px;
  object-fit: cover;
}
